# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.npm/

# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.exe
.vs/
.vscode/
**/Properties/launchSettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - Visual Studio
.vs/
*.ncrunchsolution
*.ncrunchproject
*.DotSettings.user

# Testing
TestResults/
coverage/

# Misc
.DS_Store
Thumbs.db
